.git
.github
.gitattributes
.editorconfig

actions-runner
vendor
coverage
build

.env
.env.local

.phpunit.result.cache
.phpunit.cache
.php-cs-fixer.cache
.phpstan.cache

phpunit.xml
phpstan.neon
.php-cs-fixer.dist.php
tests

Makefile
docker-compose.yml
*.md
*.log
